nav.account-nav {
    display: flex;
    justify-content: space-between;
}
nav.account-nav > ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

button::before, .button::before {
    content: "[";
}
button::after, .button::after {
    content: "]";
}
button {
  border: 0;
  padding: 0;
  background: none;
  color: inherit;
  font: inherit;
  cursor: pointer;
}
button, .button {
    text-decoration: none;
}
button:hover, .button:hover {
    text-decoration: underline;
}

nav.file-nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
}
nav.file-nav ul {
    display: flex;
    margin: 0;
    padding: 0;
    gap: 8px;
    list-style: none;
}
div.file-nav-right {
    display: flex;
    gap: 8px;
}

table.file-list {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}
table.file-list th, table.file-list td {
    border: 3px black;
    border-style: inset;
    padding: 3px;
}
table.file-list td.controls > div.container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
table.file-list tr:hover td.name {
    text-decoration: underline;
}
table.file-list td.name {
    font-weight: bold;
}

h3.path {
    width: 100%;
    text-align: center;
    margin: 0;
}

#upload-input {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

dialog .modal-actions {
    display: flex;
    justify-content: space-evenly;
    margin-top: 16px;
}
dialog > h3 {
    text-align: center;
}
