{% extends "base.html" %}
{% block content %}
<h3 class="path">{{ obj.path }}</h3>
<nav class="file-nav">
    <ul class="file-nav-left">
        <li><a class="button" href="{{ parent.path }}">Parent folder</a></li>
        <li><button onclick="history.back();">Back</></li>
        <li><button onclick="history.forward();">Forward</></li>
    </ul>
    <div class="file-nav-right">
        {% if obj.can_mkdir(user) %}
        <button command="show-modal" commandfor="mkdir-form-dialog" id="mkdir-button">{{ conf.buttons.mkdir }}</button>
        {% endif %}
        {% if obj.can_upload(user) %}
        <form id="upload-form" action="{{ obj.path }}" method="POST" enctype="multipart/form-data">
            <label id="upload-label" for="upload-input" class="custom-file-label">Choose File</label>
            <input type="file" id="upload-input" name="file">
            <span id="upload-name" style="display: none;"></span>
        </form>
        {% endif %}
    </div>
</nav>
<table class="file-list">
<thead>
    <th colspan="4">File Name</th>
    <th>Controls</th>
</thead>
{% for item in items %}
<tr class="file-entry {{ classify(item) }}" data-href="{{ item.path }}">
    <td class="name" colspan="4">{{ item.path.name }}</td>
    <td class="controls">
        <div class="container">
            {% if item.can_delete(user) %}
            <button class="delete-button" data-href="{{ item.path }}">{{ conf.buttons.delete }}</button>
            {% endif %}
            {% if item.can_move(user) %}
            <button command="show-modal" commandfor="rename-form-dialog" class="rename-button" data-href="{{ item.path }}">{{ conf.buttons.rename }}</button>
            {% endif %}
        </div>
    </td>
</tr>
{% endfor %}
</table>

<!-- HTML5 native rename dialog -->
<dialog id="rename-form-dialog">
    <h3>Rename File</h3>
    <form method="dialog">
        <label for="name">New name:</label>
        <input type="text" id="rename-form-name" name="name" required>

        <div class="modal-actions">
            <button type="submit" value="save">save</button>
            <button type="submit" formnovalidate value="cancel">cancel</button>
        </div>
    </form>
</dialog>

<dialog id="mkdir-form-dialog">
    <h3>New Folder</h3>
    <form method="dialog">
        <label for="name">Name:</label>
        <input type="text" id="mkdir-form-name" name="name" required>

        <div class="modal-actions">
            <button type="submit" value="save">save</button>
            <button type="submit" formnovalidate value="cancel">cancel</button>
        </div>
    </form>
</dialog>

<dialog id="error-dialog">
    <h3>Error</h3>
    <p id="error-content"></p>
    <form method="dialog">
        <button type="submit">close</button>
    </form>
</dialog>
{% endblock %}
