{% extends "base.html" %}
{% block content %}
<h3 class="path">{{ obj.path }}</h3>
<nav class="file-nav">
    <ul>
        <li><a href="{{ parent.path }}">Parent folder</a></li>
        <li><a onclick="history.back();">Back</a></li>
        <li><a onclick="history.forward();">Forward</a></li>
    </ul>
    {% if obj.can_upload(user) %}
    <form id="upload-form" action="{{ obj.path }}" method="POST" enctype="multipart/form-data">
        <label id="upload-label" for="upload-input" class="custom-file-label">Choose File</label>
        <input type="file" id="upload-input" name="file">
        <span id="upload-name" style="display: none;"></span>
    </form>
    {% endif %}
</nav>
<table class="file-list">
<thead>
    <th colspan="4">File Name</th>
    <th>Controls</th>
</thead>
{% for item in items %}
<tr class="file-entry {{ classify(item) }}" data-href="{{ item.path }}">
    <td class="name" colspan="4">{{ item.path.name }}</td>
    <td class="controls">
        <div class="container">
            {% if item.can_delete(user) %}
            <span class="delete-button" data-href="{{ item.path }}">{{ conf.buttons.delete }}</span>
            {% endif %}
            {% if item.can_move(user) %}
            <span class="move-button" data-href="{{ item.path }}">{{ conf.buttons.move }}</span>
            {% endif %}
        </div>
    </td>
</tr>
{% endfor %}
</table>
{% endblock %}
